<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body x-data>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('theme', {
                current: localStorage.getItem('theme') || 'light',
                toggle() {
                    this.current = this.current === 'light' ? 'dark' : 'light';
                    localStorage.setItem('theme', this.current);
                    document.documentElement.setAttribute('data-theme', this.current);
                },
                init() {
                    document.documentElement.setAttribute('data-theme', this.current);
                }
            })
        })
    </script>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>

</html>